.navbar ul{
  list-style-type:none;
  padding: 0px;
  background-color: aqua;
  height: 65px;
  
}

.navbar a{
  padding: 25px;
  display :block;
  text-decoration: none;
  
  float: left;
  color: rgb(3, 7, 10);
  font-size: 120%;
  

}

.navbar li{
  background-color: blueviolet;
  
 
}
.navbar li :hover{
  background-color: blue;
  height: 15px;
  color: bisque;
}
.btn1{
  background-color: rgb(3, 218, 21);
  border: none;
  color: aliceblue;
  height: 25px;
}
.btn1:hover{
  background-color: rgb(2, 43, 2);
}





