.navbar ul{
  list-style-type:none;
  padding: 7px;
  background-color: rgb(178, 236, 103);
  height: 65px;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

.navbar a{
  padding: 25px;
  display :block;
  text-decoration: none;
  
  float: left;
  color: rgb(3, 7, 10);
  font-size: 120%;
  margin-bottom: 0px;
  
  

}

.navbar li{
  
  margin-bottom: 0px;
  
 
}
.navbar li :hover{
  background-color:  rgb(102, 102, 221);;
  height: 15px;
  color: bisque;
  border-radius: 10px;
}
.btn1{
  background-color: rgb(3, 218, 21);
  border: none;
  color: aliceblue;
  height: 25px;
}
.btn1:hover{
  background-color: rgb(2, 43, 2);
}

.mm2{
  background-color: rgb(210, 235, 235);
  text-align: center;
  padding: 15px;
  font-size: 120%;
  margin: 0px;
  height: 500px;
  margin-bottom: 0px;
}
.mm3{
  background-color: rgb(128, 128, 194);
  color: antiquewhite;
  text-align: center;
  margin-top: 0px;
  height: 90px;
  padding: 20px;
  font-size: 120%;
}
 


    

 .text-overlay {
      position: absolute;
      bottom: 70px; 
      left: 100px;
      color: rgb(241, 249, 4);
     
      
    }
    
  
    




